body {
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    background-color: #f5f6fa;
}
p {
    padding:0;
    margin:0;
}

.container {
    border: 1px solid grey;
    /* background-color: blue; */
    /* height: 100vh; */
    width: 480px;
    position: relative;
    padding: 10px;
}

.pencarian {
    display: grid;
    grid-template-columns: 0.05fr 0.98fr;
}

.pencarian input{
    border-radius: 0 20px 20px 0 !important;
    border: 0;
    border-top :1px solid grey;
    border-bottom :1px solid grey;
    border-right :1px solid grey;
    outline: none;
    height: 4vh;
    /* padding-right: 5px; */
}

.pencarian button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left:5px ; */
    border-radius: 20px 0px 0px 20px !important;
    border-top :1px solid grey;
    border-bottom :1px solid grey;
    border-left :1px solid grey;
    border-right: 0;
    background-color: white;
    cursor: pointer !important;
}

/* .pencarian i {
    margin-left: 5px;
} */

.saldo {
    margin-top: 10px;
    display: grid;
    margin: 10px 5px 5px 5px;
    border-radius: 3px;
}

.saldo .jumlah {
    border-radius: 5px 5px 0px 0 !important;
    display: flex;
    justify-content: space-between;
    background-color: #134f07;
    color: white !important;
}

.saldo p {
    margin: 10px;
}

.saldo .menu {
    background-color: #134f07e7;
}

.menu .btn {
    width: 10px;
    color: white;
}

.menu {
    border-radius: 0px 0px 5px 5px !important;
    height: 25vh;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2)
}
.menu .img {
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.menu .text {
    display: flex;
    align-items: end;
    justify-content: space-around;
    color: white;
    cursor: pointer;
}
.menu img {
    /* width: 8vw; */
    height: 6vh;
    padding: 0;
    cursor: pointer;
}

.histori {
    display: grid;
    gap: 2px;
    grid-template-areas: "satu dua"
    "tiga tiga";
    margin: 10px 5px;
}
                    
.histori div {
    height: 15vh;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    
}

.histori div:nth-child(3) {
    height: 7vh;
}

.pemasukan {
    grid-area: satu;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.pengeluaran {
    grid-area: dua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.selisih {
    grid-area: tiga;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-bar {
    background-color:#ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7vh;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
}

.bot-bar img {
    position: absolute;
    top:-20px;
}

@media only screen and (min-width: 500px) {
    .bot-bar {
        left: 64vh;
        right: 64vh;
    }
  }
  @media only screen and (min-width: 1080px) {
    .bot-bar {
        left: 73vh;
        right: 73vh;
    }
}

.histori-payment {
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border-radius: 5px;
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 80px;
}

.histori-payment .card {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01px solid rgba(128, 128, 128, 0.2);
    padding: 10px 0;
}

.modal {
    width : 100vw; 
    height :100vh;
    position : absolute;
    top: -1000px;
    transition: 0.5s;
}

.modal-bayar {
    width: 100vw; 
    height: 80vh;
    background-color: white ;
    border-radius: 0 0 30px 30px;
    border: 1px solid grey;
    position: relative;
   
}

#hide {
    height:5px;
    width: 10vw;
    background-color: grey;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
}

.modal-open {
    top: 0;
}
.icon-hide{
    display: flex;
    justify-content: center;
}
.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    border: 0;
    border-radius: 10px;
    padding: 10px;

}
.btn-secondary {
    background-color: grey;
    color: white;
}
.kartu {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01px solid rgba(128, 128, 128, 0.2);
    padding: 10px 10px;
    margin: 10px 20px;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
    
}
.kartu-right{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.clear{
    clear : both;
}

/* css loader */
#loader{
    position : absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: grey;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items : center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader:after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }
  
  @keyframes scaleUp {
    0% { transform: translate(-50%, -50%) scale(0) }
    60% , 100% { transform: translate(-50%, -50%)  scale(1)}
  }
  @keyframes pulse {
    0% , 60% , 100%{ transform:  scale(1) }
    80% { transform:  scale(1.2)}
  }
/* Akhir css loader */

